@font-face {
  font-family: cocogoose;
  src: url('../fonts/cocogoose-pro.regular.ttf');
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #F7F7F7;
}

h1 {
  font-size: 6vw;
}

h3 {
  font-size: 4vw;
}

h2 {
  font-size: 4vw;
}

p {
  font-size: 3vw;
}

.black-nav {
  background-color: #272a31;
  padding: 3px;
}

.black-nav a {
  color: white;
  text-decoration: none;
}

.nav-a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.active-nav {
  color: #ec5242;
}

.join-us {
  border: 2px solid #ec5242;
  padding: 5px;
}

#main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  background-image: url(../images/about-banner.png);
  background-size: contain;
}

.main-header-h3 {
  text-align: center;
  color: #f8412b;
}

.main-header-h1 {
  text-align: center;
  color: #f8412b;
  margin-bottom: 10%;
  font-weight: 700;
  font-family: cocogoose, sans-serif;
}

.main-header-desc {
  text-align: center;
  color: #4f4f4f;
  background-color: white;
  padding: 6% 4%;
}

.main-header-p {
  text-align: center;
  color: #4f4f4f;
}

.main-header-mail {
  font-weight: 700;
}

/* -------------------------Date---------------------------- */

#date {
  text-align: center;
  padding: 10% 5%;
}

.date-h2::after {
  content: "";
  width: 10%;
  display: block;
  margin: 3% auto;
  border: 1px solid #f8412b;
}

.date-p {
  margin: 5% 0 10%;
  color: #4f4f4f;
}

.date-img {
  max-width: 100%;
  display: block;
  margin: auto;
  border: 1px solid;
}

/* -------------------------Past---------------------------- */
#past {
  padding: 8%;
  text-align: center;
}

.past-p {
  padding: 3%;
  color: #4f4f4f;
}

.past-h2::after {
  content: "";
  width: 10%;
  display: block;
  margin: 3% auto;
  border: 1px solid #f8412b;
}

.past-images {
  position: relative;
  margin-top: 10%;
}

.img-container {
  position: relative;
  margin-bottom: 10px;
}

.layer {
  background-color: rgba(236, 82, 66, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-past {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;
  color: white;
}

.past-img {
  max-width: 100%;
}

/* -------------------------Partner---------------------------- */
#partners {
  background-color: #424146;
}

.partners-h2 {
  padding-top: 10%;
  color: #d3d3d3;
  text-align: center;
}

.partners-h2::after {
  content: "";
  display: block;
  border: 1px solid #ec5242;
  width: 10%;
  margin: auto;
  margin-top: 3%;
}

.partners-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 0;
}

.partners-companies li {
  padding: 3%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  padding: 0 10%;
}

footer p {
  margin-top: 3%;
  color: #4f4f4f;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5vw;
  }

  h3 {
    font-size: 3vw;
  }

  h2 {
    font-size: 2vw;
  }

  p {
    font-size: 1.2vw;
  }

  nav {
    background-color: #fff;
  }

  .nav-img {
    width: 68%;
  }

  #main-header {
    background: #f7f7f8 url(../images/about_bg_01.png) center no-repeat;
    background-size: contain;
  }

  .main-header-h1 {
    width: 70%;
    margin-bottom: 5%;
  }

  .main-header-desc {
    width: 70%;
    padding: 2% 4%;
  }

  /* -------------------------- */
  #date {
    padding: 4%;
  }

  .date-p {
    margin: 0 0 3%;
  }

  .date-h2::after {
    margin-top: 1%;
    width: 3%;
  }

  /* -------------------------- */
  #past {
    padding: 3% 8% 8%;
  }

  .past-p {
    padding: 0%;
  }

  .past-images {
    margin-top: 4%;
  }

  .past-h2::after {
    width: 3%;
    margin: 1% auto;
  }


  /* -------------------footer-------------------- */
  footer {
    background-color: #2E2E2E;
    padding: 2% 0;
  }

  .footer-img {
    border-radius: 50%;
  }

  footer p {
    margin-top: 2%;
    font-size: 16px;
    color: hsl(0, 0%, 70%);;
  }
}
