@font-face {
  font-family: cocogoose;
  src: url('../fonts/cocogoose-pro.regular.ttf');
}

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 6vw;
}

h3 {
  font-size: 4vw;
}

h2 {
  font-size: 4vw;
}

h4 {
  font-size: 3.5vw;
}

p {
  font-size: 3vw;
}

header {
  background-color: #EFEFEF;
}

.black-nav {
  background-color: #272a31;
  padding: 3px;
}

.black-nav a {
  color: white;
  text-decoration: none;
}

.nav-a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.active-nav {
  color: #ec5242;
}

.join-us {
  border: 2px solid #ec5242;
  padding: 5px;
}

#main-header {
  padding: 10% 5%;
  background-image: url(../images/introduction-bg.png);
  background-size: cover;
}

.main-header-h3 {
  color: #ec5242;
}

.main-header-h1 {
  background-image: url(../images/text-bg.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  font-family: cocogoose, sans-serif;
}

.main-header-p1 {
  border: 2px solid #fff;
  background-color: #f7f7f7;
  padding: 4% 5%;
  color: #272a31;
}

.main-header-h2 {
  color: #272a31;
  font-weight: 700;
  font-family: cocogoose, sans-serif;
}

.main-header-p2 {
  color: hsl(0, 0%, 35%);
  font-weight: 500;
}

/* -------------------------Main-Program---------------------------- */
#main-program {
  background-image: url(../images/main-program-banner.png);
  padding: 2%;
}

.program-h2 {
  text-align: center;
  color: #eeeff1;
  margin: 10% 0;
}

.program-h2::after {
  content: "";
  display: block;
  border: 1px solid #ec5242;
  width: 10%;
  margin: auto;
  margin-top: 5%;
}

.program-card {
  padding: 5%;
  display: grid;
  grid-template-columns: 15% 35% 50%;
  align-items: center;
  column-gap: 3%;
  background-color: rgba(59, 62, 69, 0.4);
  margin: 3%;
}

.icon {
  color: #fff;
}

.program-card-h4 {
  color: #ec5242;
}

.program-card-desc {
  color: #eeeff1;
  padding: 0 5%;
}

.program-card-btn {
  padding: 5% 10%;
  background-color: #ec5242;
  color: #fff;
  font-weight: 700;
  display: block;
  margin: 10% auto;
}

/* -------------------------Main-Program---------------------------- */
#featured-instractors {
  background-color: #fff;
  padding: 5% 2%;
}

.instractors-h2 {
  text-align: center;
  font-weight: 500;
}

.instractors-h2 ::after {
  content: "";
  display: block;
  border: 1px solid #ec5242;
  width: 10%;
  margin: auto;
  margin-top: 5%;
}

.instractor-title {
  color: #ec5242;
}

.instractor-title::after {
  content: '';
  width: 8%;
  margin-top: 2%;
  display: block;
  border: 1px solid #d3d3d3;
}

.instractor-card {
  padding-bottom: 6%;
}

.instractor-img-container {
  position: relative;
  top: 0;
  left: 0;
}

.racing-img {
  position: relative;
  top: 0;
  left: 0;
  width: 40%;
}

.instractor-img {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 85%;
  height: 100%;
}

/* -------------------------Partner---------------------------- */
#partners {
  background-color: #424146;
}

.partners-h2 {
  padding-top: 10%;
  color: #d3d3d3;
  text-align: center;
}

.partners-h2::after {
  content: "";
  display: block;
  border: 1px solid #ec5242;
  width: 10%;
  margin: auto;
  margin-top: 3%;
}

.partners-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 0;
}

.partners-companies li {
  padding: 3%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  padding: 0 10%;
}

footer p {
  margin-top: 3%;
}

/* -------------------------------------------------------- */
@media screen and (min-width: 576px) {
  h1 {
    font-size: 5vw;
  }

  h3 {
    font-size: 3vw;
  }

  h2 {
    font-size: 3vw;
  }

  h4 {
    font-size: 2vw;
  }

  p {
    font-size: 2vw;
  }

  .instractor-img {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5vw;
  }

  h3 {
    font-size: 3vw;
  }

  h2 {
    font-size: 2vw;
  }

  h4 {
    font-size: 2vw;
  }

  p {
    font-size: 1.2vw;
  }

  header {
    background-size: contain;
  }

  nav {
    background-color: #fff;
  }

  .nav-img {
    width: 68%;
  }

  #main-header {
    padding: 8% 15%;
  }

  .main-header-p1 {
    padding: 2% 2.5%;
    width: 60%;
  }

  /* ------------------------ */
  #main-program {
    padding: 2% 8%;
  }

  .program-h2 {
    margin: 1% 0 0;
  }

  .program-h2::after {
    margin-top: 1%;
    width: 5%;
  }

  .main-program-ul {
    display: flex;
    margin-top: 5%;
  }

  .program-card {
    display: initial;
    text-align: center;
    margin: 5px;
    padding: 10px;
  }

  .program-card-h4 {
    margin-top: 10px;
  }

  .program-card-btn {
    padding: 0;
    background-color: transparent;
    color: #fff;
    font-weight: initial;
    display: block;
    margin: 6% auto;
    border: 0;
    text-decoration: underline;
  }

  /* -------------------featured-Instractors-------------------- */
  #featured-instractors {
    padding: 5% 10%;
  }

  .racing-img {
    width: 30%;
  }

  /* ------------------partners--------------------- */
  .partners-h2 {
    padding-top: 2%;
  }

  .partners-h2::after {
    width: 3%;
    margin-top: 1%;
  }

  /* -------------------footer-------------------- */
  footer {
    background-color: hsl(0, 0%, 90%);
    padding: 2% 0;
  }

  .footer-img {
    border-radius: 50%;
  }

  footer p {
    margin-top: 2%;
    font-size: 16px;
  }
}
